<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="avatar-sm ion-margin-start">
        <img src="assets/img/avatars/7.jpg" alt="">
      </ion-avatar>
    </ion-buttons>

    <ion-title>People</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentView" class="full-width">
      <ion-segment-button value="active">
        <ion-label>ACTIVE (168)</ion-label>
      </ion-segment-button>
      <ion-segment-button value="story">
        <ion-label>STORIES (986)</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="segmentView === 'active'">
    <ion-list>
      <ion-item lines="none" detail>
        <ion-icon slot="start" name="videocam"></ion-icon>
        <ion-label>
          <h2><strong>Create a Room</strong></h2>
          <p>Use a link to video chat with anyone</p>
        </ion-label>
      </ion-item>
      <ion-list-header class="list-header-custom">
        ACTIVE NOW
      </ion-list-header>
      <ion-item
        class="chat-item"
        [class.unread]="i < 4"
        *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"
      >
        <ion-avatar class="avatar-md has-status" slot="start">
          <img src="assets/img/avatars/{{i}}.jpg" alt="">
          <div class="avatar-status">
            <div class="online-status active"></div>
          </div>
        </ion-avatar>
        <ion-label>
          <h2><strong>Friend Name {{i}}</strong></h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="story-list" *ngIf="segmentView === 'story'">
    <ion-row>
      <ion-col *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]" size="6">
        <ion-card class="card-custom">
          <div class="card-thumbnail" [style.backgroundImage]="'url(assets/img/img_' + (i%4 + 1) + '.png)'">
            <ion-avatar class="avatar-md has-status" slot="start">
              <img src="assets/img/avatars/{{i%12 + 1}}.jpg" alt="">
              <div class="avatar-status">
                <div class="online-status active"></div>
              </div>
            </ion-avatar>

            <div class="card-caption">
              Tony Stark
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
